- products.each do |p|
  .col-sm-4.portfolio-item
    %p
      = p.name
      |
      = p.price
      €

    = form_tag(controller: :order_items, action: :create, remote: true) do
      = hidden_field_tag 'order_item[product_id]', p.id
      = hidden_field_tag 'order_item[quantity]', 1
      = image_submit_tag(p.picture.url(:medium), class: "icon", :onmouseover => "this.src='#{image_path('icon-hover.png')}'", :onmouseout => "this.src='#{p.picture.url(:medium)}'")

