- selected.each do |s|
  .col-sm-4.portfolio-item
    %p
      = s.name
      |
      = s.price
      €

    = form_tag(controller: :order_items, action: :create, remote: true) do
      = hidden_field_tag 'order_item[product_id]', s.id
      = hidden_field_tag 'order_item[quantity]', 1
      = image_submit_tag(s.picture.url(:medium), class: "icon", :onmouseover => "this.src='#{image_path('icon-hover.png')}'", :onmouseout => "this.src='#{s.picture.url(:medium)}'")

