- content_for(:header) do
  %header
    .container
      .row
        .col-lg-12
          = image_tag "profile.png", class: "img-responsive"
          .intro-text
            %span.name La gordi Boda
            %hr.star-light
            %span.skills Celada - 10 Septiembre - Spain

/ Portfolio Grid Section
%section#portfolio
  .container
    .row
      .col-lg-12.text-center
        %h2 Lista de bodas
        %hr.star-primary
        %p.text-center
          %em
            Pronto encontrarás aquí nuestra original lista de bodas.
            %br
            Recibirás un email en cuanto esté terminada.
            %br
            Seguro que te va a sorprender.
            %br
          = "\xF0\x9F\x98\x8A"
    .row.modal
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag "portfolio/cabin.png", class: "img-responsive"
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag "portfolio/cake.png", class: "img-responsive"
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag "portfolio/circus.png", class: "img-responsive"
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag "portfolio/game.png", class: "img-responsive"
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag "portfolio/safe.png", class: "img-responsive"
      .col-sm-4.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .caption
            .caption-content
              %i.fa.fa-search-plus.fa-3x
          = image_tag "portfolio/submarine.png", class: "img-responsive"

/ About Section
= image_tag "marker.png", class: "img-responsive"
%section#info.success
  .container
    .row
      .col-lg-12.text-center
        %h2 Info
        %hr.star-light
    .row.text-center
      .col-md-6
        %h3 Dressing Code
        %p La boda va a ser de mañana, en un jardín.
        %p Los hombres tendrán que ir de traje
        %p
          Las mujeres pueden ir de corto o largo,
          %br
          y se les recomienda ir planas
        %p Recomendamos llevar jersey o abrigo para la tarde
        %p Sería prudente ver las predicciones del tiempo

      .col-md-6
        %h3 Fechas
        %p La Boda es el día 10 de Septiembre
        %p Comenzará a las 13:00
        %p Los novios estarán en Celada desde el 7 de Septiembre
        %p
          Cualquier invitado es bienvenido desde el 7 de Septiembre,
          %br
          siempre que pueda/quiera ayudar en la organización :)
        %p Rogamos avisar si se va a venir antes del viernes día 9 de Septiembre

/ Contact Section
%section#email
  .container
    .row
      .col-lg-12.text-center
        %h2 Email
        %hr.star-primary
        %br
        %p= mail_to "info@gordiboda.com"

%section#map.success
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %h2 Mapa
        %hr.star-light
        #contact-map

        %script(src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_api_key}&callback=initMap" async defer)