= simple_form_for([:admin, @product], html: { multipart: true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :price
    = f.input :stock
    = f.input :description
    = f.input :picture, as: :file

  .form-actions
    = f.button :submit
