.container#product-card
  .row
    .col-sm-6.col-md-4
      .thumbnail
        %img
          = image_tag(@product.picture.url(:medium))
          .caption
            %h3= @product.name
            %p
              Precio: #{@product.price}€
            %p
              Stock: #{@product.stock}
            %p
              Description: #{@product.description}
            %a.card-link{:href => admin_products_path} Back
            %a.card-link{:href => edit_admin_product_path(@product)} | Edit









